 /* ///  DECORATION CSS ///  */
* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}

.cont_select_center {
  position: absolute;
width: 100%;
height: 100%;

  .cont_heg_50 {
  position: relative;
  float: left;
  height: 50%;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fd7b52;
  }

}
/* ///  DECORATION CSS  ///  */


h1 {
   font-family: 'Roboto';
color: #444;
}

.col_md_3 {
  position: relative;
  width: 33%;
float: left;
}


